html,
body {
    height: 100%;
    margin: 10px;
    padding: 0;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.new-book-form {
    z-index: 2;
    padding: 0;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: sans-serif;
}

.form-header {
    font-weight: bold;
    border-radius: 15px 15px 0 0;
    margin: 0;
    padding: 2% 5%;
    text-align: center;
    width: 90%;
    height: 100%;
    background-color: #009879;
    color: white;
}

ul {
    margin: 10px 0;
    padding: 2% 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul li {
    margin: 2px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.header {
    width: 100%;
    background-color: #00b18d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    border-radius: 15px 15px 0 0;
    padding: 10px 0;
}

.header h1 {
    padding-left: 10px;
}

.header button {
    margin-right: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.book-table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}

.book-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
}

.book-table th,
.book-table td {
    padding: 12px 15px;
}

.book-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.book-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.book-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.td-read {
    min-width: 100px;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.action-button {
    text-align: center;
    border: none;
    color: white;
    background-color: #009879;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button:hover {
    background-color: #00755e;
    cursor: pointer;
}

.blank-row {
    height: 10px;
    background-color: white;
}

tfoot tr th {
    background-color: #009879;
    color: white;
    border-radius: 0 0 15px 15px;
}

tfoot {
    border-radius: 0 0 15px 15px;
}

tfoot tr {
    border-radius: 0 0 15px 15px;
}

table {

    border-radius: 0 0 15px 15px;
}

#show-form {
    border: none;
    border-radius: 5px;
    line-height: 30px;
    font-weight: bold;
    color: white;
    background-color: #00b18d;
    margin-right: 15px;
}

#show-form:hover {
    cursor: pointer;
    background-color: #009879;
}

#show-form i {
    margin-right: 5px;
}

.form-button {
    border: none;
    border-radius: 5px;
    line-height: 30px;
    font-weight: bold;
    color: white;
    background-color: #009879;
    margin-bottom: 10px;
    width: 100px;
}

.form-button:hover {
    cursor: pointer;
    background-color: #00b18d;
}