html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.new-book-form {
    padding: 20px;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
}

ul {
    margin: 10px 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.header {
    width: 100%;
    background-color: blanchedalmond;
}

.main-content {
    display: flex;
    flex-direction: column;
}

#book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    height: 200px;
}

.book-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

.card-header {
    border-bottom: 1px solid black;
}
